<div class="book-page__header book-page__contrast-background">
  <div class="container">
    
    <a href="/">
      <span class="fa-stack fa-sm">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <h1 class="title">{{book.name}}</h1>
    <h3 class="subTitle">{{book.author.name}}</h5>
    
    <p class="description">{{book.description}}</p>
    <p class="genre">{{book.genre.category}}, {{book.genre.name}}</p>
  </div>
</div>

<div class="container">
  <div class="book-page__content">
    <h5>Introduction</h5>
    <h4><strong>{{book.name}}</strong></h4>
    <div ng-repeat="introduction in book.introduction">
      <p class="book-page__text">{{introduction.content}}</p>
    </div>
  </div>

  <hr>
  
  <div class="book-page__author">
    <img ng-src="{{book.author.avatar}}" alt="Description" width="100" class="author-avatar" />
    <p>Written by {{book.author.name}}</p>
  </div>
</div>

<div class="book-page__footer book-page__contrast-background">
  <div class="container">
    <h1>Similiar Reading</h1>
    
    <div ng-repeat="recommendedBook in recommendedBooks">
      <book-preview book="recommendedBook"></book-preview>
  </div>
</div>